<button class="btn btn-primary mb-3" (click)="onAddRow($event)">New</button>

<body>
    <div>
        <ag-grid-angular
            class="ag-theme-alpine"
            (gridReady)="onGridReady($event)"
            (click)="onSelectionChanged()"
            #agGrid
            [columnDefs]="columnDefs"
            [rowData]="rowData"
            [rowSelection] = "rowSelection"
            
            [frameworkComponents]="frameworkComponents"
        >
        </ag-grid-angular>
       
    </div>
    <!-- rowSelection="multiple"-->
    <div *ngIf="selected" class="div2">
        <h2>Add or Edit</h2>

        <p><span style="color:red" >No :</span>
        <label >{{selected.no}}</label></p>

        <p><span style="color:red" >Name :</span>
        <input type="text" [(ngModel)]="selected.name" >

        </p>

        <p><span style="color:red" >Price :</span>
        <input type="text"[(ngModel)]="selected.price" >
        </p>
            
        <p><span style="color:red" >Quantity :</span>
        <input  type="text"  [(ngModel)]="selected.quantity">
        </p>

        <!--   <p><span ng-show   style="color:red" >Control :</span>
                <input type="text"  [(ngModel)]="selected.control" >
                </p>-->
        <button  (click)="register()">Register</button>
    </div>
</body>
